@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We are a Toronto based company that started trying to fix a local problem within our own house but things scalated quickly and now you can find 
    us everywhere over the internet.
</p>

<img src="https://s3.amazonaws.com/mentoring.redesign/s3fs-public/male-CEO-business-team.jpg" alt="About us" />