@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rum8s Ltd.<br />
    Scarborough M1G3M6<br />
    <abbr title="Phone">P:</abbr>
    647.563.2512
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@rum8s.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@rum8s.com</a>
</address>

<img src="https://blackswandexteritas.files.wordpress.com/2018/07/contactus.jpg" alt="Contact Us" />