@{
    ViewData["Title"] = "Home Page";
}

<title>Rum8s</title>
<h2>Welcome to Rum8s</h2>
<p>This is a tool to manage all cleaning taks within the house!</p>
<img src="https://www.weidner.com/blog/wp-content/uploads/sites/4445/2020/05/wpid-shutterstock_1109613101.jpg" alt="Roommates" />