@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>WRKT is an application that provides an easy way to manage small teams to keep track of the time invested by every participant.</h1> <br />

<div class="containerabout">
    <div class="itemabout">
        <img src="~/images/proposal.jpg" class="imgs" /> <br /><br />
        <p>The user propose their time to the Admin.</p>
    </div>

    <div class="itemabout">
        <img src="~/images/check.jpg" class="imgs" /><br /><br />
        <p>The Admin checks everything is in order.</p>
    </div>

    <div class="itemabout">
        <img src="~/images/review.jpg" class="imgs" /><br /><br />
        <p>If there is something to review, the Admin will send back a message to clarify all possible misunderstandings.</p>
    </div>
</div>