@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Toronto, ON.<br />
    Canada<br />
</address>

<address>
    <abbr title="Phone">P:</abbr>
    (647) 563 2521
</address>
