@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to WRKT!</h1>
    <p> Manage your teams with a simple tool in three simple steps!</p>
    <img src="~/images/home.jpg" style="width:100%; height:30%;"/>
</div>